@font-face {
	font-family: ProximaNova;
	src: url(../font/ProximaNova-Regular.ttf);
}

@font-face {
	font-family: ProximaNova-Extrabld;
	src: url(../font/ProximaNova-Regular.ttf);
}

@font-face {
 	font-family: ProximaNova-RegularIt;
 	src: url(../font/ProximaNova-RegularIt.ttf);
}

html {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #9fa9a9;
}

header {
	background-image: url(../img/bg.png);
	position: relative;
}

header::before {
	background-image: url(../img/bgbefore.png);
	position: absolute;
	content: "";
	width: 946px;
	height: 610px;
	right: 346px;
	bottom: 0px;
}

nav a {
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	color: #3c3d42;
	text-decoration: none;
	padding-left: 29px;
}

h2 {
	color: #636c6c;
	font-family: Raleway;
	font-size: 36px;
	text-align: left;
	line-height: 44px;
	font-weight: 700;
	letter-spacing: -0.3px;		
}

h3 {
	color: #636c6c;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
}

.center {
	text-align: center;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 1170px;
}

.nav {
	margin-top: 41px;
	margin-bottom: 37px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.navleft {
	padding-left: 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navright {
	display: flex;
	color: #3c3d42;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
}

.navright span {
	margin-left: 8px; 
}

.navright div {
	margin-left: 35px;
}

.hero {
	padding-top: 136px;
	padding-bottom: 258px;
}

.he1 {
	width: 440px;
	height: 70px;
	color: #ffffff;
	font-family: Raleway;
	font-size: 36px;
	text-align: left;
	line-height: 44px;
	letter-spacing: -0.6px;
}

.he1 span {
	font-weight: 700;
	letter-spacing: -0.3px;
}

.he2 {
	width: 472px;
	height: 62px;
	color: #9dc7d1;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	margin-top: 49px;
}

.he3 {
    width: 234px;
    height: 54px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: 59px;
}

.he3 a {
	color: #ffffff;
	font-family: Raleway;
	font-size: 21px;
	font-weight: 700;
	text-decoration: none;
	padding: 15px 52px;
	line-height: 53px;
}

.features {
	margin-top: 97px;
}

.feat {
	display: flex;
	align-items: center;
	width: 315px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	padding: 33.1px 0;
}

.feat span {
	color: #9fa9a9;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
}

.featupspan {
    width: 761px;
    color: #afb8b8;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    letter-spacing: 0.7px;
    text-align: center;
	margin: auto;
	margin-top: -4px;
}

.featleft {
	height: 600px;
    margin-left: 42px;
    padding-top: 70px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-position: bottom 24px right 6px;
}

.fas {
	width: 44px;
	height: 36px;
}

.far {
	width: 44px;
	height: 36px;
}

.featlt {
	margin-left: 42px;
}

.featlt button {
	background-color: transparent;
	border: none;
	text-decoration: none;
	outline: 0;
	color: #9fa9a9;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
    padding: 11px 0;
}

.featbottom {
	display: flex;
}

.featright p {
	color: #afb8b8;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
}

.featright span {
	width: 198px;
	height: 165px;
	color: #5dca88;
	font-size: 220px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	margin-left: 204px;
}

.featright {
	margin-top: 120px;
    margin-left: 140px;
}

.frh3 {
	margin-top: 90px;
}

.disabled {
	display: none;
}

#learn {
	background-color: #f2f9fe;
}

.learn {
	padding-top: 210px;
	padding-bottom: 192px;
}

.learn::before {
	background-image: url(../img/learnbgbefore.png);
	position: absolute;
	content: "";
	width: 380px;
	height: 696px;
	left: 1009px;
    top: 1883px;
}

.learn h2 {
	color: #5dca88;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	margin-bottom: 8px;
}

.learn p {
	color: #8c9494;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	margin-top: 35px;
}

.learn p span {
	color: #8c9494;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
}

.lbtn {
	width: 234px;
    height: 54px;
    border: 3px solid #636c6c;;
    border-radius: 40px;
    margin-top: 53px;
}

.lbtn a {
	color: #636c6c;
    font-family: Raleway;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    padding: 12px 49px;
    line-height: 53px;
}

.screenshots {
	padding-top: 63px;
}

.screenshots p {
	color: #afb8b8;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: center;
}

.shp {
	margin-top: -12px;
}

.screenshots p span {
	color: #8c9494;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: center;
}

.screenslider {
	display: flex;
	margin-top: 81px;
}

.screenslider img {
	display: flex;
	align-items: center;
}

.ssp {
	margin-top: 37px;
}

.slider {
	display: flex;
	align-items: center;
	margin-left: 28px;
}

.slider div {
	padding-right: 82px;
}

.slidp {
	position: absolute;
	top: 3212px;
    left: 194px;
}

.slidn {
	position: absolute;
	top: 3212px;
    right: 194px;
}

#geature {
	background-color: #F2F9FE;
}